.img-card {
  min-width: 200px;
  height: 30vh;
  border: solid black 5px;
  box-shadow: 10px 5px 5px;
  margin: 10px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.fa-solid {
  font-size: 3rem;
}

.img-card__img-controller {
  width: 50%;
  height: 10vh;
}

.img-card__img-controller--img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 400px) {
  .img-card {
    height: 20vh;
  }
}

@media all and (min-width: 401px) {
  .img-card {
  }
}
